$white: #fff;
$black: #000;


$occ-primary:   #ff9900;
$occ-secondary: #ff9900;
$occ-tertiary:  #ff9900;







$base-font-family-display: "";
$base-font-family-body: "";


$focus-outline-offset:        2px;
$focus-outline-width:         2px;
$focus-outline-style:         dotted;
$focus-outline-color:         #ff9900;


$h1-font-size-sm: 10px;
$h1-font-size-md: 10px;
$h1-font-size-lg: 10px;

$h2-font-size-sm: 10px;
$h2-font-size-md: 10px;
$h2-font-size-lg: 10px;

$h3-font-size-sm: 10px;
$h3-font-size-md: 10px;
$h3-font-size-lg: 10px;

$h4-font-size-sm: 10px;
$h4-font-size-md: 10px;
$h4-font-size-lg: 10px;

$h3-font-size-sm: 10px;
$h3-font-size-md: 10px;
$h3-font-size-lg: 10px;






$btn-color:             $white;
$btn-padding-x:         1.25rem;
$btn-padding-y:         .5rem; 
$btn-border-radius:     .5rem;
$btn-border-width:      2px;
$btn-border-style:      solid;


