$white: #fff;
$black: #000;
$occ-blueprint:     #0069CC;
$occ-blueprint-dark:#15538C;
$occ-red:           #C91616;
$occ-gold:          #FFC229;


$occ-primary:       $occ-blueprint;
$occ-secondary:     $occ-blueprint-dark;







$base-font-family-display: "";
$base-font-family-body: "";


$focus-outline-offset:        2px;
$focus-outline-width:         2px;
$focus-outline-style:         dotted;
$focus-outline-color:         #ff9900;


$h1-font-size-sm: 10px;
$h1-font-size-md: 10px;
$h1-font-size-lg: 10px;

$h2-font-size-sm: 10px;
$h2-font-size-md: 10px;
$h2-font-size-lg: 10px;

$h3-font-size-sm: 10px;
$h3-font-size-md: 10px;
$h3-font-size-lg: 10px;

$h4-font-size-sm: 10px;
$h4-font-size-md: 10px;
$h4-font-size-lg: 10px;

$h3-font-size-sm: 10px;
$h3-font-size-md: 10px;
$h3-font-size-lg: 10px;






$btn-color:             $white;
$btn-padding-x:         1.25rem;
$btn-padding-y:         .5rem; 
$btn-border-radius:     .5rem;
$btn-border-width:      2px;
$btn-border-style:      solid;


